[package]
name = "simd-png"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
memmap = "0.7.0"
flate2 = "1.0"
minifb = "0.19.3"
